<div id="title_about" class="half-height-page uppercasing">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-8 col-xs-offset-1">
        <h1><%= t "about.team" %></h1>
        <p><%= t "about.paragraph1a" %></br><%= t "about.paragraph1b" %><span class="highlight"><%= t "about.paragraph1c" %></span>.</p>
        <p><%= t "about.paragraph2a" %><span class="highlight"><%= t "about.paragraph2b" %></span>.</p>
      </div>
    </div>
  </div>
</div>
