
<div class="footer-navbar-container footer text-center padding-10">

<!-- ref to the modal -->
  <div ><a data-toggle="modal" data-target="#LegalNoticeModal" role="button"><%= t "footer.btnmodal"%></a></div>
  <!-- Incidence.io -->
  <div ><%= t "footer.powered" %><%= link_to "Incidence.io", "http://incidence.io", :target => "_blank" %></div>

</div>
<!-- flex-space-around -->

<!-- Modal -->
  <div class="modal fade" id="LegalNoticeModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t "footer.legalnoticemodal.modalheader"%></h4>
        </div>
        <div class="modal-body">
          <h1><%= t "footer.legalnoticemodal.1erh1"%></h1>
            <p>Incidence Ltd., <%= t "footer.legalnoticemodal.trading"%> CodePlusCoffee.<p><%= t "footer.legalnoticemodal.status"%> 100 GBP</p>
            <p><%= t "footer.legalnoticemodal.siege"%>Unit E2 Arena Design Center,
            <br>71 Ashfield Rd,
            <br>N4 1FF London, UK</p>
            <p>Director: Laura Pedroni</p>
            <p>+44(0) 7 511 269 800</p>
            <p>laura{a}codepluscoffee{.}com</p>
          <h1><%= t "footer.legalnoticemodal.host"%></h1>
            <p>GANDI SAS, <%= t "footer.legalnoticemodal.statushost"%> 800.000€ </p>
            <p>63-65 boulevard Massena, Paris (75013) FRANCE</p>
            <p>immatr. : 423 093 459 RCS PARIS
                <br>N° TVA FR81423093459
                <br>Tel : +33.(0) 1 70 37 76 61</p>
          <h1><%= t "footer.legalnoticemodal.credits"%></h1>
            <p><%= t "footer.legalnoticemodal.conception"%></p>
            <p><%= t "footer.legalnoticemodal.pictures"%></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "footer.legalnoticemodal.btnclose"%></button>
        </div>
      </div>

    </div>
  </div>


