<div class="footer-navbar-container footer flex-end">
  <!-- ref to the modal -->
  <p class="text-center"><a data-toggle="modal" data-target="#LegalNoticeModal" role="button"><%= t "footer.btnmodal"%></a></p>

  <!-- Incidence.io -->
  <p><%= t "footer.powered" %><%= link_to "Incidence.io", "http://incidence.io", :target => "_blank" %></p>

</div>


<!-- Modal -->
  <div class="modal fade" id="LegalNoticeModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t "footer.legalnoticemodal.modalheader"%></h4>
        </div>
        <div class="modal-body">
          <h1><%= t "footer.legalnoticemodal.1erh1"%></h1>
            <p>CodePlusCoffe</p>
            <p><%= t "footer.legalnoticemodal.status"%></p>
            <p><%= t "footer.legalnoticemodal.siege"%>60 rue Raymond Losserand, 75014 Paris</p>
            <p>Directeur de la publication: Hugo BARTHELEMY</p>
            <p>+33 6 76 59 57 03</p>
            <p>hugo{a}codepluscoffee{.}com</p>
          <h1><%= t "footer.legalnoticemodal.host"%></h1>
            <p>GANDI SAS, <%= t "footer.legalnoticemodal.statushost"%> 800.000€ </p>
            <p>63-65 boulevard Massena, Paris (75013) FRANCE</p>
            <p>immatr. : 423 093 459 RCS PARIS
                <br>N° TVA FR81423093459
                <br>Tel : +33.(0) 1 70 37 76 61</p>
          <h1><%= t "footer.legalnoticemodal.credits"%></h1>
            <p><%= t "footer.legalnoticemodal.conception"%></p>
            <p><%= t "footer.legalnoticemodal.pictures"%></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "footer.legalnoticemodal.btnclose"%></button>
        </div>
      </div>

    </div>
  </div>


