<!-- navbar scrolable mobile -->
<div class="device-small">
  <!-- dropdown language -->
  <div class="dropdownnavbar-scrolable-mobile">

    <button class="dropdown-toggle no-btn-decoration-language" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= t "navbar.languages" %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="<%= t "navbar.link_to_other_languages_1" %>"><%= t "navbar.other_languages_1" %></a></li>
    </ul>

    <!-- logo -->
    <div class="logo-mobile">
      <img class = "js-navbar-btn-logo" src="/images/logo_color7_transparent.svg" alt="logo codepluscoffee" width="70">
    </div>
  </div>
</div>

<div class="footer-navbar-container navbar-fixed">
  <!-- mobil version -->
  <div class="device-small">
    <!-- btn languages mobile -->
    <!-- logo mobile -->
    <!-- btn pages mobile -->
    <div class="flex-end">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle fa-3x" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <a class="no-btn-decoration-mobile navbar_btn_solution" role="button"><%= t "navbar.haveacoffeewithus" %></a><br>
          <a class="no-btn-decoration-mobile navbar_btn_process" role="button"><%= t "navbar.how" %></a><br>
          <a class="no-btn-decoration-mobile navbar_btn_philo" role="button"><%= t "navbar.what" %></a><br>
          <a class="no-btn-decoration-mobile navbar_btn_about" role="button"><%= t "navbar.team" %></a><br>
          <a class="no-btn-decoration-mobile navbar_btn_contact_test" role="button"><%= t "navbar.contact" %></a>
        </ul>
      </div>
    </div>
  </div>

  <!-- no mobile version -->
  <div class="device-large ">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-md-10 col-xs-offset-1">
          <div class="navbar-container">
          <img class = "in-line js-navbar-btn-logo" src="/images/logo_color7_transparent.svg" alt="logo codepluscoffee" width="70">

            <!-- btn pages no mobile -->
            <div class="navbar-right ">
              <div class="in-line">
                <p class="text-center ">

                <a class="no-btn-decoration navbar_btn_solution" role="button"><%= t "navbar.haveacoffeewithus" %></a>
                <a class="no-btn-decoration navbar_btn_process" role="button"><%= t "navbar.how" %></a>
                <a class="no-btn-decoration navbar_btn_philo" role="button"><%= t "navbar.what" %></a>
                <a class="no-btn-decoration navbar_btn_about" role="button"><%= t "navbar.team" %></a>
                <a class="no-btn-decoration navbar_btn_contact_test" role="button"><%= t "navbar.contact" %></a>
                </p></div>


              <!-- btn languages no mobile -->
              <div class="dropdown in-line">
                <button class="dropdown-toggle no-btn-decoration-language" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= t "navbar.languages" %>
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="<%= t "navbar.link_to_other_languages_1" %>"><%= t "navbar.other_languages_1" %></a></li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



