<div class="full-height-page background-color-strong" id="title_philo">
  <div class = "container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h1><%= t "philo.workwithus" %></h1>
        </div>
        <div class="col-xs-10 col-sm-5  col-md-3 col-xs-offset-1">
          <div class="philo-card">
            <h2><%= t "philo.finalqualityh2" %></h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.finalqualityp1" %></p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.finalqualityp2" %></p>
          </div>
        </div>
        <div class="col-xs-10 col-sm-5 col-md-3 col-xs-offset-1 col-sm-offset-0">
          <div class="philo-card">
            <h2><%= t "philo.budgeth2" %></h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.budgetp1" %></p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.budgetp2" %></p>
          </div>
        </div>
        <div class="col-xs-10 col-sm-5  col-md-3 col-xs-offset-1 col-sm-offset-0">
          <div class="philo-card">
            <h2><%= t "philo.timeh2" %></h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.timep1" %></p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.timep2" %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-sm-5  col-md-3 col-xs-offset-1">
          <div class="philo-card">
            <h2><%= t "philo.valueaddedh2" %></h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.valueaddedp1" %></p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.valueaddedp2" %></p>
          </div>
        </div>
        <div class="col-xs-10 col-sm-5 col-md-3 col-xs-offset-1 col-sm-offset-0">
          <div class="philo-card">
            <h2><%= t "philo.withoutengagementh2" %></h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.withoutengagementp1" %></p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.withoutengagementp2" %></p>
          </div>
        </div>
        <div class="col-xs-10 col-sm-5  col-md-3 col-xs-offset-1 col-sm-offset-0">
          <div class="philo-card">
            <h2><%= t "philo.testsh2" %></h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.testsp1" %></p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  <%= t "philo.testsp2" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

