<div class="full-height-page" id="title_process">
  <div class="container">

    <div class="row">
      <div class="col-xs-10 col-md-10 col-xs-offset-1">
        <div class="process">
          <h1><%= t "process.processclair" %></h1>

          <div class="process-card">
            <h2><%= t "process.rdvh2a" %><span class="highlight-2" ><%= t "process.rdvh2b" %></span></h2>


              <div class="process-detail">
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.rdvp1" %></p>
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.rdvp2" %></p>
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.rdvp3" %></p>
              </div>
          </div>

          <div class="process-card">
            <h2><%= t "process.formalisationh2a" %><span class="highlight-2"><%= t "process.formalisationh2b" %></span></h2>


              <div class="process-detail">
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.formalisationp1" %></p>
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.formalisationp2" %></p>
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.formalisationp3" %></p>
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.formalisationp4" %></p>
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.formalisationp5" %></p>
              </div>

          </div>

          <div class="process-card">
            <h2><%= t "process.adaptationh2" %></h2>
          </div>

          <div class="process-card">
            <h2><%= t "process.graphismeh2" %></h2>

              <div class="process-detail">
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.graphismep1" %></p>
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.graphismep2" %></p>
              </div>

          </div>

          <div class="process-card">
            <h2><%= t "process.realisationh2a" %><span class="highlight-2"><%= t "process.realisationh2b" %></span></h2>
              <div class="process-detail">
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.realisationp1" %></p>
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.realisationp2" %></p>
                <p><i class="fa fa-check" aria-hidden="true"></i><%= t "process.realisationp3" %></p>
              </div>

          </div>

          <div class="process-card">
            <h2><%= t "process.testh2" %></h2>
          </div>

          <div class="process-card">
            <h2 class="padding-left-19px process-option">
            <%= t "process.optimisationh2a" %><span class="highlight-2"><%= t "process.optimisationh2b" %></span></h2>


              <div class="process-detail">


            </div>
          </div>

          <div class="process-card">
            <h2 class="process-option"><%= t "process.maintenanceh2a" %><span class="highlight-2"><%= t "process.maintenanceh2b" %></span></h2>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


